.messagePostulant {
    color: #f50c0c;
    font-size: 1em;
    font-style: italic;
    background-color: #aee7f7;
    border-radius: 15px;
    text-align: left;
}

.messageEntreprise {
    color: #0000ff;
    font-size: 1em;
    font-style: italic;
    text-align: right;
}