.messageMe {
    color: black;
    font-size: 1em;
    font-style: italic;
    background-color: #e38888;
    border-radius: 15px;
    text-align: left;
    margin-bottom: 15px;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    word-wrap: break-word;
}

.messageOthers {
    color: black;
    font-size: 1em;
    font-style: italic;
    background-color: #96cf65;
    border-radius: 15px;
    text-align: right;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    word-wrap: break-word;
}

.whospeak{
    font-size: 15px;
    text-align: left;
    margin-bottom: 0;
}

.message-date{
    font-size: 15px;
    margin: 20px 0  0px 0;
}
