.messagePostulant {
    color: #f50c0c;
    font-size: 1em;
    font-style: italic;
    background-color: #aee7f7;
    border-radius: 15px;
    text-align: left;
    margin-bottom: 15px;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    word-wrap: break-word;
}

.messageEntreprise {
    color: #0000ff;
    font-size: 1em;
    font-style: italic;
    background-color: #aee7f7;
    border-radius: 15px;
    text-align: right;
    margin-bottom: 15px;
    padding: 5px 5px 5px 15px;
    background-color: #aee7f7;
    border-radius: 15px;
    word-wrap: break-word;
}

.whospeak{
    font-size: 10px;
    text-align: left;
    margin-bottom: 0;
    color: black;
}
