.button {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #61dafb;
    text-transform: uppercase;
    color: white;
    position: absolute;
    left: 50%;

}