.companies {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.login-title{
    margin-bottom: 30px;
}

.login-form{
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border-color: #61dafb;
    outline: none;
}

::placeholder{
    color:#00a5d3;
}

.btn-login{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #61dafb;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
}

h1.headings{
    color: #61dafb;

}

li{
    list-style-type: none;
    margin: 15px 0 15px 0;
    color: #61dafb;
    background-color: #aee7f7;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
}

li:hover{
    background-color: #61dafb;
}

.title-conversation{
    margin-bottom: 30px;
}

.send-message-title{
    font-size: 15px;
    font-weight: lighter;
}

.send-message{
    border-radius: 25px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 15px;
}

::placeholder{
    padding-left: 15px;
    
}

.btn-send-message
{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #61dafb;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
}