

.offerCard {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 65px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 30px 0 40px 0;
}

.offerCard:hover {
    transform: scale(1.05);
}

.topOfOffer {
    border-radius: 25px 25px 0 0;
    height: 25%;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.bottomOfOffer {
    margin-top: 100px;
}

.infoOffer {
    margin: 20px 0;
    color: #1a7e76;
    font-size: 2vw;
    text-align: left;
}

.offerName {
    font-size: 3.5vw;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 3% 20px 0;
}